li {
  list-style: none;
  display: flex;
}

#App-Header {
  text-align: center;
}

.list ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.list ul li a {
  color: white;
  text-decoration: none;
}

.list {
  margin: 10px auto;
  padding: 1rem;
  background: gray;
}
